section {
  background-color: #353b3c;
}

h1 {
  margin: unset;
  font-size: 1.5rem;
  color: #fff;
}

h1:hover {
  color: #000;
}

img {
  height: 25vh;
  width: 13vw;
  border-radius: 45px;
}

p {
  margin: unset;
  color: #fff;
}
