.link-img-wrapper {
  display: flex;
  flex-direction: column;
}

.project-title:hover {
  color: #000;
}

h4 {
  all: unset;
  color: #fff;
  font-weight: bold;
}

.app-img {
  all: unset;
  width: 26vw;
  height: 30vh;
}
