section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64vh;
  background-color: #846a6a;
}

.tech-wrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

button {
  background-color: #eff0d1;
  border: 1px solid #000;
  height: 10vh;
  width: 10vw;
  border-radius: 50px;
}

button:hover {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .tech-wrapper {
    flex-direction: column;
    width: unset;
  }

  button {
    height: 8vh;
    width: 53vw;
  }
}
