section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64vh;
  background-color: #846a6a;
}

h1 {
  color: #fff;
  margin: unset;
}

.form-divs {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
