nav {
  height: 17vh;
  display: flex;
  justify-content: space-around;
  background-color: #a2999e;
}

#david-a {
  margin: 2rem;
  color: #fff;
  font-size: 2.5rem;
}

.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  width: 45vw;
}

h3 {
  color: #fff;
  align-self: center;
}

a {
  all: unset;
  padding: 5px 5px 5px 5px;
}

a:hover {
  color: #000;
}

.nav-link {
  color: #eff0d1;
}

/* media queries for mobile responsiveness */

@media screen and (max-width: 425px) {
  nav {
    height: 45vh;
    flex-direction: column;
    align-items: center;
  }

  #david-a {
    font-size: 1.5rem;
  }

  .nav-items-wrapper {
    flex-direction: column;
    height: 24vh;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  nav {
    height: 45vh;
    flex-direction: column;
    align-items: center;
  }

  .nav-items-wrapper {
    flex-direction: column;
    height: 24vh;
  }
}
