footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19vh;
  background-color: #a2999e;
}

.links-wrapper {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

h3 {
  margin: unset;
}
