section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #846a6a;
}

.app-row {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.link-img {
  display: flex;
  flex-direction: column;
}

.app-img {
  height: 20vh;
  width: 20vw;
}

